:root {

  --clr-primary-red: hsl(0, 100%, 67%);
  --clr-primary-yellow: hsl(39, 100%, 56%);
  --clr-primary-teal: hsl(166, 100%, 37%);
  --clr-primary-blue: hsl(234, 85%, 45%);

  --clr-gradient-blue-100: hsl(252, 100%, 67%);
  --clr-gradient-blue-200: hsl(241, 81%, 54%);
  --clr-gradient-violet: hsla(256, 72%, 46%, 1);
  --clr-gradient-persian: hsla(241, 72%, 46%, 0);

  --crl-neutral-100: hsl(0, 0%, 100%);
  --crl-neutral-200: hsl(221, 100%, 96%);
  --crl-neutral-300: hsl(241, 100%, 89%);
  --crl-neutral-400: hsl(224, 30%, 27%);

  --apha-8: 0.8;

  --ff-body: 'Hanken Grotesk', sans-serif;

  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  --fw-base: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  height: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color:  var(--crl-neutral-200);
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  width: 46rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--crl-neutral-100);
  border-radius: 32px;
  font-family: var(--ff-body);
  box-shadow: 0 0 1rem rgba(0 0 0 / 5%);
}

.box_result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 368px;
  background-image: linear-gradient(to bottom, var(--clr-gradient-blue-100), var(--clr-gradient-blue-200));
  color: var(--crl-neutral-100);
  border-radius: 2rem;
  padding: 1.65rem 2rem 2.5rem;
}

.box_result > h1 {
  font-size: 24px;
  font-weight: var(--fw-semi-bold);
  color: hsl(0, 0%, 100%, 0.7);

}

.box_result > .circle {
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom, var(--clr-gradient-violet), var(--clr-gradient-persian));
  padding: 48px 56px;
  border-radius: 100%;
}

.box_result > .circle > .higher {
  font-size: 80px;
  font-weight: var(--fw-bold);
  line-height: 1;
}

.box_result > .circle > p {
  font-size: var(--fw-base);
}

.box_result > .circle > .meta{
  font-size: var(--fw-base);
  color:hsl(0, 0%, 100%, 0.6)
}

.box_result  .msg_info {
  font-size: 2rem;
  line-height: 1;
}

.box_result  .msg_congrats {
  font-size: var(--fw-base);
  padding: 0 1.25rem;
  text-align: center;
  color: var(--crl-neutral-200);
}
.box_sumary {
  flex: 1;
  background-color: var(--crl-neutral-100);
  border-radius: 2rem;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 2.1875rem;
}

.box_sumary > h1 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.box_sumary .dataSummary {
  display: grid;
  grid-template-columns: 2.5rem 5.625rem auto;
  font-size: var(--fw-base);
  padding: 1rem;
  border-radius: .625rem;
  margin-bottom: .9375rem;
}

.box_sumary .dataSummary  p {
  text-align: end;
  color: var(--crl-neutral-400);
}

.box_sumary .dataSummary  p span {
  color: hsl(224, 30%, 27%, 0.5);
}

.box_sumary .color-0 {
  background-color: hsla(0, 100%, 67%, 0.08);
  color: hsla(0, 100%, 67%, 0.700);
}

.box_sumary .color-1 {
  background-color: hsl(39, 100%, 56%, 0.08);
  color: hsl(39, 100%, 56%, 0.700);
}

.box_sumary .color-2 {
  background-color: hsl(166, 100%, 37%, 0.08);
  color: hsl(166, 100%, 37%, 0.700);
}

.box_sumary .color-3 {
  background-color: hsl(234, 85%, 45%, 0.08);
  color: hsl(234, 85%, 45%, 0.700);
}

.box_sumary .btn_continue {
  margin: 1rem 0 0;
  width: 100%;
  background-color: var(--crl-neutral-400);
  color: var(--crl-neutral-100);
  padding: 15px;
  border-radius: 2rem;
  border: transparent;
  transition: all 1s ease-in;
  cursor: pointer;
}

.box_sumary .btn_continue:hover {
  background-image: linear-gradient(to bottom, var(--clr-gradient-blue-100), var(--clr-gradient-blue-200));
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 37.5rem) {
  main {
    display: block;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .boxes {
    width: 100%;
    height: 100%;
    border-radius: 0;
    flex-direction: column;
  }

  .box_result {
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;
    border-radius: 0 0 2rem 2rem;
  }

  .box_result > h1 {
    padding: 0 0 2rem;
  }
  
  .box_result  .msg_info {
    margin-top: 1rem;
  }

  .box_result .msg_congrats {
    padding: 1rem 3rem;
  }

  .box_sumary {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 2.5rem 2rem;
  }


  .box_sumary > button {
    align-items: end;
  }

}